*{
    padding: 0;
    margin: 0;
    font-family: 'Phudu', cursive;
    text-decoration: none;
}

/* index */
.fondoIndex{
    background-color: gray;
}
h1{
    padding: 10px;
    color: lightblue;
    text-align: center;
}
.portada{
    border: solid 3px lightseagreen;
}

.imgIndex{
    position: static;
    margin: auto;
    padding: 20px;
    height: 100%;
    text-align: center;
}
.aIndex{
    position: static;
    width: 250px;
    background-color: aqua;
    margin: auto;
    padding: 15px;
    border-radius: 15px;
    text-align: center;
}

/* obout */
.fondoAbout{
    background-color: gray;
}
h2{
    text-align: center;
    padding: 20px;
}
.divHistoria{
    background-color: aliceblue;
    border: solid 1px lightseagreen;
    padding: 50px;
    margin: 15px;
}
/* navegador */
.liNav{
    display: inline;
}
.divNav{
    background-color: rgb(130, 207, 255);
    padding: 50px;
    text-align: center;
}
li a{
    margin: 35px;
    padding: 15px;
    background-color: bisque;
    text-align: center;
    border-radius: 15px;
}
/* visitas y actividades */
.olActividades{
    margin: 25px;
}
.fondoActividades{
    background-color: gray;
}
/* turismo */
.fondoTurismo{
    background-color: gray;
}
.divTurismo{
    padding: 20px;
    text-align: center;
}
.divTurismo a{
    margin: 25px;
    background-color: blue;
    padding: 10px;
    border-radius: 15px;
}
.divTabla{
    text-align: center;
}
table{
    margin: 0 auto;
    border: solid 5px;
}
thead th{
    border: solid 2px;
}
tbody th{
    border: solid 2px;
}
th img{
    width: 400px;
}
/* entretenimiento */
.fondoEntretenimiento{
    background-color: gray;
}
.containerEntretenimiento{
    position: static;
}
.imgEntretenimiento{
    margin: 0 auto;
    display: block;
    overflow: hidden;
    border: solid 2px;
    width: 500px;
}
.volverA{
    margin: 20px;
    padding: 12px;
    background-color: aqua;
    border-radius: 15px;
}
/* entretenimiento1 */
.fondoEntretenimiento1{
    background-color: gray;
}
.contenedorTeatro{

}
/* entretenimiento2 */
.fondoEntretenimiento2{
    background-color: gray;
}
/* entretenimiento3 */
.fondoEntretenimiento3{
    background-color: gray;
}
/* form  */
.fondoForm{
    background-color: gray;
}
.contenedorForm{
    padding: 50px;
}
form{
    width: 500px;
    padding: 10px;
    margin: auto;
    background-color: rgb(112, 112, 146);
    text-align: center;
    border: solid 1px black;
}
.tamañoInput{
    padding-inline: 120px;
}
